* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #ddd;
	font-family: sans-serif;
}

.container{
	width: 86%;
	margin: 50px auto;
	background-color: #fff;
}

header, main{
	width: 86%;
	margin: 0 auto;
}

header h1{
	text-align: center;
	padding: 30px 0 20px;
}

header p{
	text-align: center;
}

figure{
	text-align: center;
	margin: 40px;
}

main{
	padding: 50px 0;
}

section{
	padding: 40px 0;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}

section h2 {
	padding-bottom: 20px;
}

section p{
	padding-bottom: 10px;
	text-align: justify;
}

.citacoes{
	background-color: #ddd;
	margin: 30px auto;
	border: none;
}

.citacoes blockquote{
	font-size: 1.5rem;
	margin-left: 70px;
	padding-bottom: 20px;
}

.citacoes em{
	margin-left: 35px;
}

.textos ul{
	margin-left: 50px;
}

.textos ul li{
	padding-bottom: 10px;
}

.auditorio{
	border: none;
	margin-top: -70px;
	margin-bottom: -50px;
}
